In [ ]:
#variable

a = 2 # integer
hewan = "gajah" # String
b = 'A' # String
c = True # Boolean
d = False # Boolean
e = 2.0 # Float
f = [] # List / Array
g = {} # Dictionary
h = () # Tuple

In [ ]:
print(b)
print(a)
print("Nama hewannya adalah: " + hewan)
print("Nama hewannya adalah: {}".format(a))
print("Nama: {}, Umur: {}".format("Zaldi", 20))

In [1]:
Student_Name = ["Bambang", "Sudirman", "Aruf", "Udin", "Tukiyem"]
print(Student_Name[0])
print(Student_Name[1])
print(Student_Name[2])
print(Student_Name[-2:])
Student_Name.append("Sukirman")
print(Student_Name)

Bambang
Sudirman
Aruf
['Udin', 'Tukiyem']
['Bambang', 'Sudirman', 'Aruf', 'Udin', 'Tukiyem', 'Sukirman']

In [ ]:
List = ["A", "B", "C"]
print("ini huruf {}".format(List[0]))

ini huruf A